<%- include('cabecalho') %>
<form action="/login" method="post">
    <label>
        <span>Nome</span>
        <input name="nome" />
    </label>
    <label>
        <span>Senha</span>
        <input name="senha" type="password" />
    </label>
    <button>Enviar</button>
</form>